<!DOCTYPE html>
<html>
<head>
  <title>Fastengine</title>
  <%= stylesheet_link_tag    "fastengine/application", media: "all" %>
  <%= javascript_include_tag "fastengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
